page-upload-photo-user {
    .img{
        height: 70vh;
        width: auto;
        margin: auto;
        margin-bottom: 25px;
        display: block;
        width: 160px ;
        height: 160px;
        border-radius: 100px
    }

}
