page-profile-edit {
    .img{
        height: 70vh;
        width: auto;
        margin: auto;
        margin-bottom: 25px;
        display: block;
        width: 120px ;
        height: 120px;
        border-radius: 100px
    }

}
