page-notifications {

    .titleNotification{
        font-size: 20px;
        text-align: center;
    }

    .text{
        text-align: center;
    }
    .dateSending{
        font-size: 12px;
        text-align: center;
        color: gray;
    }
    .icon{
        float: left; 
        margin-right: 10px; 
        padding-top: 5px;
    }

    .avatar{
       // height: 70vh;
        width: auto;
        margin: auto;
        margin-bottom: 0px;
        display: block;
        width: 50px ;
        height: 50px;
    }

}
