<ion-header>

  <ion-navbar transparent>
   <!-- <ion-title>{{(userDetails | async ) ?.firstname}}</ion-title>-->
    <!--Close Modal Window-->
    <ion-buttons end>
      <button ion-button color="light" (click) ="closeModal()"><ion-icon name = "close" ></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="pageContainer">

  <div class="pageInside" *ngIf="userDetails | async as item">


        <div *ngIf="item.photoURL; else noPhoto">
           <img [src]="item.photoURL" class="img" />  
        </div>
        <ng-template #noPhoto>
           <img src="./../assets/imgs/user.jpg" class="img" /> 
        </ng-template>

 
   <ion-list>
   <ion-item>
      <p class="fullName">  {{ item.firstname }} {{ item.lastname }}</p>
   </ion-item>
   <ion-item>
      <p class="city"><ion-icon name="pin" ></ion-icon>  {{ item.city }} | {{ item.state }}</p>
      <div>
      <p class="birthDate" >{{convertBirthDate(item.birthDate)}} de idade</p>
      <div *ngIf="item.functionType"><p class="functionType" ><ion-icon name="checkmark-circle" style="margin-right: 5px; font-size: 12px;"></ion-icon>{{item.functionType}}</p></div>
      </div>
   </ion-item>
   <ion-item>
      <p class="title"> Membro Betel Desde </p>
      <p class="contact">{{ item.memberSince }}</p>
   </ion-item>
   <ion-item>
      <p class="title"> Contato </p>
      <p class="contact"><ion-icon name="logo-whatsapp" ></ion-icon>  {{ item.whatsapp }}</p>
      <p class="contact"><ion-icon name="mail" ></ion-icon>  {{ item.email }}</p>
   </ion-item>
   </ion-list>

</div>
</ion-content>
