<ion-header>

  <ion-navbar transparent>
   <!-- <ion-title>{{(userDetails | async ) ?.firstname}}</ion-title>-->
    <!--Close Modal Window-->
    <ion-buttons end>
      <button ion-button color="light" (click) ="closeModal()"><ion-icon name = "close" ></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="pageContainer">

  <div class="pageInside">

    <div *ngIf="userDetails | async as item" >
        <div *ngIf="item.photoURL; else noPhoto">
           <img [src]="item.photoURL" class="img" />  
        </div>
        <ng-template #noPhoto>
           <img src="./../assets/imgs/user.jpg" class="img" /> 
        </ng-template>
   </div>
 
   <ion-list>
   <ion-item>
      <p class="fullName">  {{ (userDetails | async) ?.firstname }} {{ (userDetails | async) ?.lastname }}</p>
   </ion-item>
   <ion-item>
      <p class="city"><ion-icon name="pin" ></ion-icon>  {{ (userDetails | async) ?.city }} | {{ (userDetails | async) ?.state }}</p>
      <div>
      <p class="birthDate" >{{convertBirthDate((userDetails | async) ?.birthDate)}} de idade</p>
      </div>
      <div *ngIf="userDetails | async ?.functionType"><p class="functionType" ><ion-icon name="bookmark" style="margin-right: 5px; font-size: 15px;"></ion-icon>{{ (userDetails | async) ?.functionType }}</p></div>
   </ion-item>
   <ion-item>
      <p class="title"> Membro Betel Desde </p>
      <p class="contact">{{ (userDetails | async) ?.memberSince }}</p>
   </ion-item>
   <ion-item>
      <p class="title"> Contato </p>
      <p class="contact"><ion-icon name="logo-whatsapp" ></ion-icon>  {{ (userDetails | async) ?.whatsapp }}</p>
      <p class="contact"><ion-icon name="mail" ></ion-icon>  {{ (userDetails | async) ?.email }}</p>
   </ion-item>
   </ion-list>

</div>
</ion-content>
