page-event-edit {

    .img{
        height: 70vh;
        width: auto;
        margin: auto;
        margin-bottom: 25px;
        display: block;
        width: 250px ;
        height: auto;
    }

}
